<div class="container">
  <h2>Daftar Kehadiran</h2>
  <div class="d-flex justify-content-end">
    <button *ngIf="(presenceStatus|async) == PresenceStatus.NEED_CHECK_IN" class="btn btn-success mb-3">
      <i class="fa fa-camera"></i> Check In
    </button>
    <button
      *ngIf="(presenceStatus|async) == PresenceStatus.NEED_CHECK_OUT||(presenceStatus|async) == PresenceStatus.CHECKED_OUT"
      class="btn btn-danger mb-3" [ngClass]="{'disabled': (presenceStatus|async) == PresenceStatus.CHECKED_OUT}">
      <i class="fa fa-camera"></i> Check Out
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Employee</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Check-in Coordinate</th>
        <th>Check-out Coordinate</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let presence of presences; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ presence?.Employee?.name }}</td>
        <td>{{ presence?.checkIn | date : "dd/MM/yy HH:mm:ss" }}</td>
        <td>{{ presence?.checkOut | date : "dd/MM/yy HH:mm:ss" }}</td>
        <td>{{ presence?.checkInCoordinates }}</td>
        <td>{{ presence?.checkOutCoordinates }}</td>
        <td>
          <button class="btn btn-info mx-2" title="View"><i class="fa fa-eye"></i></button>
          <button *ngIf="(userRole$ | async) == 'admin'" class="btn btn-danger mx-2" title="Delete"><i
            class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
