<div class="profile">
  <div class="card mb-4 mt-2">
    <div class="card-body">
      <h2 class="card-title mb-4">Employee Profile</h2>

      <table class="table">
        <tbody>
        <tr>
          <th scope="row" class="text-start" style="width: 150px;">Name</th>
          <td class="text-start">{{ user?.name }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-start" style="width: 150px;">Job Role</th>
          <td class="text-start">{{ user?.job_role }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-start" style="width: 150px;">Username</th>
          <td class="text-start">{{ user?.user?.username }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  .table {
    border-collapse: collapse; /* Remove table lines */
  }

  .table th, .table td {
    border: none; /* Remove cell borders */
  }
</style>
